:root{
    --primColor: #1B3037;
    --secColor: #375771;
    --thirdColor: #f1f1f1;
}

#home-hero{
    background-color: white;
}

#home-bg{
    background-image: url("/Images/jpg/home_wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.prim-color{
    background-color: var(--primColor);
    color: var(--thirdColor);
}

.sec-color{
    background-color: var(--secColor);
    color: var(--thirdColor);
}

.third-color{
    background-color: var(--thirdColor);
    color: var(--primColor);
}

.home-card{
    width: 10rem;
}

.home-card-img{
    height: auto;
    margin: auto;
}

.cv-card{
    height: 100%;
}

.cv-profiel-foto{
    width: 100%;
    margin: auto;
}

.card-work p{
    text-align: justify;
}